@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik Dirt', serif;
}

.text-break {
  overflow-wrap: anywhere;
}

.field-error-message {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.form-group {
  position: relative;
}
